@model DemoProject.Models.BoredFact;

@{

    ViewData["Title"] = "Home Page";

}

<div class="text-center">

    <h1 class="display-4">Activity to do when bored</h1><br><br><br><br>

    <h4>@Model.Activity</h4>

</div>